<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973032847065-atitipn8p81k6vmk4h11g2njae5mebun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973032847065-atitipn8p81k6vmk4h11g2njae5mebun</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>973032847065-i7g9r053hab1i35m8voau5ooh3u0eo9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ5WJDfqPrilSDseOGaxPm92EXbyOjQTw</string>
	<key>GCM_SENDER_ID</key>
	<string>973032847065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lendsqrfpnews.newsapp</string>
	<key>PROJECT_ID</key>
	<string>lendsqr-fp-news-bcfc5</string>
	<key>STORAGE_BUCKET</key>
	<string>lendsqr-fp-news-bcfc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973032847065:ios:6edc91186be3f2d222f0c8</string>
</dict>
</plist>